/* Estilos CSS personalizados */
body {
  background-color: #1d4f91;
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1,
p {
  margin-bottom: 10vh;
}

.action-button {
  background-color: #df4661;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.action-button.clicked {
  animation: blink 0.3s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Estilos adicionados para centralizar o botão "Marcar dia" e a frase "Marque um dia a cada 24 horas" */
#mark-day-button,
#days-counter,
#days-description {
  display: flex;
  justify-content: center;
}

#mark-day-button {
  margin-bottom: 20px;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: left;
}

/* Estilos para o modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  /* Alterado para iniciar oculto */
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  position: relative;
  /* Adicionado para posicionar corretamente o botão de fechar */
}

.modal-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: black;
  /* Alterado para cor preta */
}

.checklist-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checklist-item-label {
  margin-left: 10px;
  color: black;
}

.message-container {
  margin-top: 20px;
}

.message {
  font-size: 16px;
  font-weight: bold;
  color: #df4661;
  margin-bottom: 10px;
}

.fireworks {
  margin: 0 auto;
  text-align: center;
}

.fireworks img {
  width: 100px;
}

/* Estilos para o botão "Salvar" */
#save-button {
  background-color: #df4661;
  margin-top: 20px;
}

#save-button.clicked {
  animation: loading 5s linear;
  pointer-events: none;
}

#checklist-button {
  display: block;
}

@keyframes loading {
  0% {
    background-color: #1d4f91;
    width: 100px;
  }
  50% {
    background-color: #df4661;
    width: 150px;
  }
  100% {
    background-color: #1d4f91;
    width: 100px;
  }
}

